<!DOCTYPE html>
<html lang="en">
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Examen D4 Lopez Fleischer{% endblock %}</title>
    {% endblock %}
<body>
    <div>
        <ul>
            <li> <a href="/"> Inicio </a> </li>
            <li> <a href="/consumo/"> Consumo </a> </li>
        </ul>
    </div>
</body>
</html>
<!--
<footer>
    <div>
        <p>
            UNIVERSIDAD DE SONORA</br>
            LOPEZ FLEISCHER URIEL ABRAHAM</br>
            DESARROLLO 4</br>
            SEGUNDO EXAMEN</br>
        </p>
    </div>
</footer>
-->